<div class="carBox container">
    <h1 class="headCart-span-h1">Shopping Cart</h1>
    <div class="headCart">
        <p class="lead">You have <label class="h2 headCart-span-h1">{{cartproduct.length}}</label> item in your cart</p>
        <span class="card-header headCart-span" (click)="clearPorduct()">Clear Shopping Cart</span>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th style="width: 25%;">Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-tbody">
            @for (item of cartproduct; track item; let index = $index  ){
            <tr>
                <td class="table-tbody-tr-td"><img class="img-table" src="{{item.item.image}}"></td>
                <td class="table-tbody-tr-td">{{item.item.title}}</td>
                <td class="table-tbody-tr-td">{{item.item.price}} L.E</td>
                <td class="table-tbody-tr-td">
                    <div class="quantity">
                        <button class="btn btn-dark" (click)="addAmount(index)">+</button>
                        <input class="form-control quantity-input" type="number" (change)="detectChange()" [(ngModel)]="item.quantity" min="1">
                        <button class="btn btn-dark" (click)="minsAmount(index)">-</button>
                    </div>
                </td>
                <td class="table-tbody-tr-td">{{item.item.price * item.quantity}} L.E</td>
                <td class="table-tbody-tr-td">
                    <button class="btn btn-danger" (click)="deleteProduct(index)">Delete</button>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total : {{Total}} L.E</th>
                <th><button class="btn btn-success">Order Now</button></th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="alert alert-success container" role="alert"><strong>Well done!</strong> Your order is Successfully Send</div>